<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Taqseem e Ghaza</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="/assets/css/fontawesome-free/css/all.min.css">
        <!-- iziToast. -->
        <link rel="stylesheet" href="{% static 'js/plugins/iziToast/css/iziToast.css' %}">
    </head>
    
<body>