<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dvtpcatsm/image/upload/v1671101885/pics/International_Day_Of_Charity_Email_Header_zbn8y9.png" class="d-block w-100" alt="..." style="max-height: 550px">
        <div class="carousel-caption d-none d-md-block">
          <h1><strong>SMALL MOVE MAKE BIG CHANGES</strong></h1>
          <a href="/donor/login" class="btn btn-primary" >Login</a>
          <a href="/donor/signup" class="btn btn-secondary" >Signup</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dvtpcatsm/image/upload/v1671102312/pics/International_Day_Of_Charity_Email_Header_1_kh6gzo.png" class="d-block w-100" alt="..." style="max-height: 550px">
         <div class="carousel-caption d-none d-md-block">
          <h1><strong></strong></h1>
          <a href="/donor/login" class="btn btn-primary" >Signup</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dvtpcatsm/image/upload/v1671101023/pics/International_Day_Of_Charity_Email_Header_1686_550_px_2_gsfmaf.png" class="d-block w-100" alt="..." style="max-height: 550px">
         <div class="carousel-caption d-none d-md-block">
          <h1><strong>Join Our Cause</strong></h1>
          <a href="/donor/login" class="btn btn-primary" >Signup</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>